<div class="container" style="padding-bottom:60px;padding-top:10px;">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="" ng-click="go('/')">Home</a></li>
		  <li class="active">Disclaimer</li>
		</ol>
	</div>
	<legend>DISCLAIMER or TERMS OF USE</legend>
<p>
		Getmyadvisor.com is a platform to connect the clients who are seeking <b>legal advice</b>
		and <b>professional help</b> with the corresponding lawyers or CA. It does not, in anyway, endorse or advertise for the people providing these legal & professional services.Content have been compiled & included in the website for the benefit of the users on our best effort basis. However we do not take any responsibility for the accuracy and completeness of information.
	</p>
	<p>
		Getmyadvisor.com is not responsible for any decision or action taken as a result of the connection so 
established using our platform or medium. While using this medium, you agree that it does not solicit or establish relationship between Client and Lawyers (legal advisors) or CA(professional & financial advisors). The users of the platform ("website") are advised to verify and take the necessary steps when deciding on the engagement with these advisors.The information put here is only for the convenience of the seekers for these services.
	</p>
	<br />
</div>
